/* padding: top right bottom left */
.projectsBackground{
    margin-top: 40px;
    padding-top: 70px;
    padding-left: 70px;
    padding-right: 70px;
}

.projectsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    padding: 50px;

    background-color: #FFF2D4;
    border-radius: 25px;

    font-family: 'Asul', sans-serif;
    font-size: 18px;
}

.projectsTitle{
    color: #624608;
    margin-bottom: 10px;
}

.projectTile{    
    margin: 10px;
    padding: 10px;
    width: 90%;

    background-color: rgba(255, 255, 255, 0.6);
    color: #624608;
    border-radius: 15px;
    font-family: 'Asul', sans-serif;

    transform: scale(1);
    transition-timing-function: ease-out;
    transition: 0.4s;
}

.projectTile:hover{
    transform: scale(1.01);
    transition-timing-function: ease-in;
    transition: 0.4s;
}

.projectLink, .projectLink:hover, .projectLink:visited{
    text-decoration: none;
    color: #624608;
}

.link-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    font-family: 'Asul', sans-serif;
    font-size: 20px;
    color: #624608;
}

.gbmstudioLogo{
    width: 6em;
}

.right-arrow-icon{
    font-size: 40px;
    margin-top: 15px;
}

.hand-image{
    transform: scaleX(-1);
    width: 80px;
    margin: 10px;
}

.projIcon{
    text-decoration: none;
    margin: 10px;
    color: #624608;
    font-size: 50px;
}

@media screen and (max-width: 1100px){
    .projectsBackground{
        margin-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #gbm-studio{
        width: 40%;
        margin: 10px 0px 10px 0px;
    }

    #fortune-teller{
        width: 40%;
        margin: 10px 0px 0px 0px;
    }

    .projIcon{
        margin-top: 5px;
        font-size: 35px;
    }
}

@media screen and (max-width: 780px){
    .projectsBackground{
        padding: 90px 0px 0px 0px;
    }

    .projectsContainer{
        flex-direction: column;
        justify-content: center;
        padding: 10px 0px 10px 0px;
        margin: 10px 20px 0px 20px;
    }

    .projectTitle{
        font-size: 20px;
    }

    .projectTile{
        width: 90%;
        margin: 10px 0px 10px 0px;
    }

    #gbm-studio{
        width: 90%;
        margin: 10px 0px 10px 0px;
    }

    #fortune-teller{
        width: 90%;
        margin: 10px 0px 0px 0px;
    }

    .projIcon{
        margin-top: 5px;
        font-size: 35px;
    }
}