@font-face{
    font-family: "TiltPenX";
    src: url("../../fonts/TiltPenX.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.fortunes-outer-container{
    height: 100vh;
    background-color: #E8E8FF;
}

.fortunes-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fortunes-page-top{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.fortunes-title-container{
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.orange-tape{
    width: 80%;
    height: 150px;
}

.fortunes-title{
    position: absolute;
    font-family: "TiltPenX";
    font-size: 100px;
}

.fortunes-back-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
}

.hand-back-button{
    width: 90px;
}

.back-text {
    font-family: 'Asul', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.back-text a:visited, a:link, a:active{
    font-family: 'Asul', sans-serif;
    text-decoration: none;
    color: black;
}

.fortunes-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Asul', sans-serif;
    margin: 10px;
    padding: 10px;
}

.get-fortune-button{
    background-color: #065C5C;
    color: white;
    font-family: 'Asul', sans-serif;
    font-size: 22px;
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 5%;
}

.get-fortune-button:hover{
    cursor: pointer;
    background-color: #044040;
    transition: ease-in-out 0.3s;
}

.fortunes-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 20px;
    width: 60vw;
}

.your-fortune-is{
    margin: 10px;
    font-size: 40px;
    font-family: 'IM Fell Great Primer', serif;
}

.fortune-text{
    margin: 10px;
    padding: 20px;
    width: 80%;
    text-align: center;
    font-size: 40px;
    background-color: black;
    color: white;
}

.fortunes-footer{
    text-align: center;
}

@media screen and (max-width: 1100px){
    .fortunes-page-top{
        flex-direction: column;
    }

    .fortunes-title{
        font-size: 55px;
    }

    .your-fortune-is{
        font-size: 30px;
    }

    .fortune-text{
        font-size: 30px;
    }
}


@media screen and (max-width: 780px){
    .fortunes-title{
        font-size: 30px;
    }

    .hand-back-button{
        width: 70px;
    }

    .your-fortune-is{
        font-size: 25px;
    }

    .fortune-text{
        font-size: 25px;
    }
}