@font-face{
    font-family: "Royal Acidbath Open";
    src: url("../../fonts/Royalacid_open.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "IFC Insane Rodeo";
    src: url("../../fonts/IFC_INSANE_RODEO.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* padding: top right bottom left */
.mainContainerBackground{
    background-image: url("../../images/rollinghills.jpg");
    padding: 20px;
    margin: 0px 70px 0px 70px;
    border-radius: 25px;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 10px 50px 10px 50px;
    margin: 0px 175px 0px 175px;

    background-color: #FFF2D4;
   
    border-radius: 25px;
}

.textAndIcons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}



.hiImGrace{
    text-align: center;
    font-family: "Royal Acidbath Open";
    color: #E29D00;
    font-size: 100px;
    margin-right: 20px;
}

.cowImage{
    height: 40%;
    width: 40%;
}

.notCow{
    font-size: 20px;
}