@font-face{
    font-family: "Royal Acidbath Open";
    src: url("../../fonts/Royalacid_open.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* padding: top right bottom left */
.mainContainerBackground{
    background-image: url("../../images/rollinghills.jpg");
    padding: 20px;
    margin: 130px 70px 0px 70px;
    border-radius: 25px;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 10px 50px 10px 50px;
    margin: 0px 140px 0px 140px;

    background-color: #FFF2D4;
   
    border-radius: 25px;
}

.textAndIcons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hiIm{
    text-align: center;
    font-family: "Royal Acidbath Open";
    color: #E29D00;
    font-size: 120px;
}

.Grace{
    text-align: center;
    font-family: "Royal Acidbath Open";
    color: #E29D00;
    font-size: 140px;
}

.cowImage{
    height: 45%;
    width: 45%;
}

.notCow{
    font-size: 20px;
    font-family: 'Asul', sans-serif;
    color: #624608;
}

@media screen and (max-width: 1100px){
    .mainContainerBackground{
        margin: 130px 20px 0px 20px;
    }
    .mainContainer{
        padding: 10px 20px 10px 20px;
        margin: 0px 20px 0px 20px;
    }
    
    .hiIm{
        font-size: 80px;
    }

    .Grace{
        font-size: 90px;
    }

    .cowImage{
        height: 60%;
        width: 60%;
    }

    .notCow{
        font-size: 16px;
    }
}


@media screen and (max-width: 780px){
    .mainContainerBackground{
        margin: 130px 20px 0px 20px;
    }

    .mainContainer{
        padding: 10px 20px 10px 20px;
        margin: 0px 20px 0px 20px;
    }
    
    .hiIm{
        font-size: 50px;
    }

    .Grace{
        font-size: 60px;
    }

    .cowImage{
        height: 60%;
        width: 60%;
    }

    .notCow{
        font-size: 14px;
    }
}