@font-face {
    font-family: "Computer Font";
    src: url("../../fonts/Computerfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.aboutContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 50px 50px 50px 50px;
    margin: 50px 70px 0px 70px;

    background-color: #E8E8FF;
    border-radius: 25px;

    font-family: 'Asul', sans-serif;
    font-size: 18px;
}

.aboutTiles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.tileTitle{
    color: #209d9d;
}

.past{
    align-self: center;
    text-align: center;

    width: 45%;
    padding: 20px;
    margin: 10px;

    background: white;
    border-radius: 25px;
    
    
}

.current{
    align-self: center;
    text-align: center;
    
    width: 45%;
    padding: 20px;
    margin: 10px;

    background: white;
    border-radius: 25px;
}

.linksContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    
}

.bwLinkContainer{
    align-self: center;
    text-align: center;
    width: 15%;
    padding: 15px;
    margin: 10px;

    background-color: black;
    border-radius: 5px;
}

.bwLink{
    text-decoration: none;
    color: white;
    font-size: 20px;
}