/* padding: top right bottom left */

@font-face {
    font-family: "Computer Font";
    src: url("../../fonts/Computerfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.aboutContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    padding: 50px 50px 50px 50px;
    margin: 135px 70px 0px 70px;

    background-color: #E8E8FF;
    border-radius: 25px;

    font-family: 'Asul', sans-serif;
    font-size: 18px;
}

.bio{
    margin: 10px;
    margin-bottom: 30px;
    font-size: 20px;
    width: 40%;
    text-align: center;
}

.aboutTiles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0px 10px 0px;
}

.tile{
    flex: 1;
    align-self: center;
    text-align: center;
    display: flex;
    flex-direction: row;

    width: 45%;
    padding: 20px;
    margin: 10px;

    background: white;
    border-radius: 25px; 
    
    transform: scale(1);
    transition-timing-function: ease-out;
    transition: 0.4s;
}

.tile:hover{
    transform: scale(1.03);
    transition-timing-function: ease-in;
    transition: 0.4s;
}

.org-link, .org-link:hover, .org-link:visited{
    text-decoration: none;
    color: black;

    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.org-logo{
    align-self: center;
    width: 100px;
}

#WICS-logo{
    height: 100px;
}

#VH-logo{
    height: 95px;
}

.tileTitle{
    color: #209d9d;
    margin-bottom: 5px;
}

.tileText{
    text-align: left;
    margin-left: 20px;
    align-self: center;
}

.linksContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.bwLinkContainer{
    align-self: center;
    text-align: center;
    width: 25%;
    padding: 15px;
    margin: 10px;

    background-color: black;
    border-radius: 5px;

    transform: scale(1);
    transition-timing-function: ease-out;
    transition: 0.4s;
}

.bwLinkContainer:hover{
    transform: scale(1.03);
    transition-timing-function: ease-in;
    transition: 0.4s;
}

.bwLink{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.bwLink:visited{
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 1100px){
    .aboutContainer{
        padding: 20px 20px 20px 20px;
        margin: 125px 20px 0px 20px;
    }

    .bio{
        width: 60%;
    }

    .tileTitle{
        font-size: 20px;
    }

    .tileText{
        text-align: center;
        margin-left: 0px;
        align-self: center;
    }

    .tile{
        width: 60%;
    }

    .org-link, .org-link:hover, .org-link:visited{
        flex-direction: column;
    }

    .org-logo{
        width: 90px;
    }

    #WICS-logo{
        height: 90px;
    }
    
    #VH-logo{
        height: 85px;
    }
}

@media screen and (max-width: 780px){
    .aboutContainer{
        padding: 10px 0px 10px 0px;
        margin: 100px 20px 0px 20px;
    }
    
    .aboutTitle{
        font-size: 20px;
    }

    .bio{
        margin: 5px;
        margin-bottom: 10px;
        font-size: 18px;
        width: 80%;
    }

    .aboutTiles{
        flex-direction: column;
        justify-content: center;
        margin: 5px 0px 5px 0px;
    }

    .tileTitle{
        color: #209d9d;
        font-size: 18px;
    }

    .tile{
        width: 70%;
    }

    .linksContainer{
        flex-direction: column;
        justify-content: center;
    }

    .bwLinkContainer{
        width: 65%;
    }

    .bwLink{
        font-size: 18px;
    }
}