/* padding: top right bottom left */
.contactContainerBackground{
    background-image: url("../../images/rollinghills.jpg");
    padding: 20px;
    margin: 50px 70px 50px 70px;
    border-radius: 25px;
}

.contactContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 10px 50px 10px 50px;
    margin: 0px 175px 0px 175px;

    background-color: #FFF2D4;
    border-radius: 25px;

    font-family: 'Asul', sans-serif;
    font-size: 18px;
}


.contactMe{
    color: #209d9d;
}

.socialIcons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 100%;
}

.icon{
    margin: 10px;
    padding: 10px;
    color: #209d9d;
    font-size: 40px;
    background: noone;
    border-radius: 20px;
}

.icon:hover{
    background: #FFFDF2;
    border-radius: 20px;
    transition: ease-in-out 0.4s;
}

.emailMe{
    font-size: 20px;
    color: #ff431d;
    text-align: center;
}

.emailIcon{
    font-size: 28px;
    color: #ff431d;
}

@media screen and (max-width: 1100px){
    .contactContainerBackground{
        margin: 50px 20px 0px 20px;
    }
    
    .contactContainer{
        padding: 10px 20px 10px 20px;
        margin: 0px 20px 0px 20px;
    }
    
}

@media screen and (max-width: 780px){
    .contactContainerBackground{
        margin: 50px 20px 20px 20px;
    }
    
    .contactContainer{
        padding: 20px 20px 20px 20px;
        margin: 0px 20px 0px 20px;
    }

    .contactMe{
        font-size: 24px;
    }

    .socialIcons{
        margin: 5px;
    }
    
    .icon{
        margin: 5px;
        font-size: 30px;
    }

    .emailMe{
        font-size: 16px;
    }

    .emailIcon{
        font-size: 24px;
    }
}