/* padding: top right bottom left */
.contactContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 10px 50px 10px 50px;
    margin: 50px 70px 50px 70px;

    background-color: #ebebeb;
    border-radius: 25px;

    font-family: 'Asul', sans-serif;
    font-size: 18px;
}


.contactMe{
    color: #209d9d;
}

.socialIcons{
    display: flex;
    flex-direction: row;
    align-items: center;    
}

.icon{
    margin: 10px;
    padding: 10px;
    color: #209d9d;
    font-size: 40px;
    background: noone;
    border-radius: 20px;
}

.icon:hover{
    background: #FFFDF2;
    border-radius: 20px;
    transition: ease-in-out 0.4s;
}

.emailMe{
    font-size: 20px;
    color: #ff431d;
    text-align: center;
}

.emailIcon{
    font-size: 28px;
    color: #ff431d;
}