.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 20px;
    height: 60px;

    background-color: lightsalmon;
}

.navItem{
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.navItem:hover{
    transition: ease-in-out 0.2s;
    color: black;
}