.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-self: center;

    padding-left: 170px;
    padding-right: 170px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;

    /*background-color: #E8E8FF;*/
    background-color: rgba(211, 211, 242, 0.9);
    font-family: 'Asul', sans-serif;

    position: fixed;
    top: 0;
    width: 80vw;
    z-index: 1;
}


.title{
    color: #065C5C;
    font-size: 24px;
    font-weight: 400;
}

.tagline{
    color: #065C5C;
    font-weight: 400;
}


.navItems{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    padding-top: 10px;
}

.navItem{
    color: #178585;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.navItem:hover{
    transition: 0.2s ease-in-out;
    color: #E29D00;
}

@media screen and (max-width: 1100px){
    .nav{
        width: 58vw;
    }
}

@media screen and (max-width: 780px){
    .nav{
        padding: 0px;
        margin: 0px 0px 10px 0px;
        width: 100vw;
    }

    .title{
        font-size: 20px;
    }

    .tagline{
        font-size: 16px;
    }

    .navItems{
        padding: 5px;
    }

    .navItem{
        font-size: 18px;
    }

}