@font-face{
    font-family: "ArtNuvo";
    src: url("../../fonts/Art-Nuvo.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.gbmstudio-outer-container{
    height: 100vh;
    background-color: #FFF2D4;
}

.gbmstudio-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gbmstudio-page-top{
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.gbmstudio-title-container{
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}


.gbmstudio-title{
    font-family: "ArtNuvo";
    font-size: 100px;
}

.gbmstudio-back-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    background-color: white;
}

.back-link{
    font-family: 'Asul', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.gbmstudio-logo{
    width: 500px;
}

.gbmstudio-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Asul', sans-serif;
    margin: 10px;
    padding: 10px;
    height: 50vh;
}


.gbmstudio-footer{
    font-family: 'Asul', sans-serif;
    text-align: center;
    margin-top: auto;
}
/*
.noise {
    width: 100vw;
    height: 100vh;
    background: 
      radial-gradient(transparent, #004AAD), 
      url(https://grainy-gradients.vercel.app/noise.svg);
    filter: contrast(170%) brightness(100%);  
  } */

@media screen and (max-width: 1100px){
    .gbmstudio-page-top{
        flex-direction: column;
    }

    .gbmstudio-title{
        font-size: 55px;
    }

    .gbmstudio-logo{
        width: 400px;
    }  
}


@media screen and (max-width: 780px){
    .gbmstudio-title{
        font-size: 40px;
    }

    .gbmstudio-logo{
        width: 300px;
    }
   
}